.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  float: left;
  margin-right: 16px;
  color: white;
  font-size: 32px;
}

.site-layout-content {
  padding: 50px;
  background-color: white;
}
